@font-face {
   font-family: 'roboto-700';
   src: url("../fonts.css/Roboto-Bold.ttf") format("truetype");
   font-weight: 700;
}

@font-face {
   font-family: "roboto-400";
   src: url("../fonts.css/Roboto-Regular.ttf") format("truetype");
   font-weight: 400;
}

@font-face {
   font-family: "Raleway-400";
   src: url("../fonts.css/Raleway-Regular.ttf") format("truetype");
   font-weight: 400;
}

@font-face {
   font-family: "Raleway-700";
   src: url("../fonts.css/Raleway-Bold.ttf") format("truetype");
   font-weight: 700;
}

@font-face {
   font-family: "Raleway-900";
   src: url("../fonts.css/Raleway-Black.ttf") format("truetype");
   font-weight: 900;
}

@font-face {
   font-family: "Raleway-100";
   src: url("../fonts.css/Raleway-Thin.ttf") format("truetype");
   font-weight: 100;
}